#titleExercise{
    text-align: center; 
    font-size: 1.2em;
    font-weight: bold;
    background-color: #045b82;
}

#descriptionExercise, #viñetas{
    color: #04325a;
    font-size: 1em;
}

#puntos{
    font-size: 0.7em;
}

#labels{
    font-size: 0.8em;
    font-weight: bold;
    color: #043f5b;
}

#nombre, #materia, #valor, #num1, #num2, #num3, #num4{
    font-size: 0.7em;
}

#groupButtonExercise1{
    text-align: right;
}

#navbar{
    background-color: #04325a;
    font-weight: bold;
    color: white;
}

#title{
    font-size: 1.2em;
    margin-left: 1em;
}

#message{
    font-size: 1.2em;
}

#botonAgregar{
    float: left;
    width: 16em;
}

#botonCalcular{
    width: 16em;
}

#botonEnviar{
    width: 16em;
}

#aviso{
    font-size: 0.6em;
}