.employee-form {
    border-style: solid;
    padding: 10px;
    margin: auto;
    width: 50%;
  }
  
  input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  label.validation-error{
    color: red;
    margin-left: 5px;
  }
  
  .hide{
    display:none;
  }
  
  #descriptionExercise, #viñetas{
    color: #04325a;
    font-size: 1.05em;
  }
  
  #puntos{
    font-size: 1em;
  }
  
  #labels{
    font-size: 0.9em;
    font-weight: bold;
    color: #043f5b;
    margin-bottom: -15em;
  }
  
  #fullNameStudent, #nameMatter, #valor, #num1, #num2, #num3, #num4{
    font-size: 0.8em;
    margin-bottom: -105em;
  }
  
  #navbar{
    background-color: #04325a;
    font-weight: bold;
  }
  
  #title{
    color: white;
  }
  
  #message-alert{
    font-size: 1.2em;
    margin-top: 1em;
    margin-left: -5em;
    width: 29.5em;
  }
  
  #botonCalcular{
    width: 21em;
    height: 2.5em;
    margin-top: 2.5em;
    font-size: 0.8em;
    margin-left: 4em;
  }
  
  #aviso{
    font-size: 0.7em;
  } 
  
  #column-title-Estudiante,#column-title-Asignatura,#column-title-Valor, #column-title-Acciones{
    text-align: center;
    font-size: 0.8em;
    color: #04325a;
  }
  
  #column-title-Estudiante{
    width: 30%;
  }
  
  #column-title-Asignatura,#column-title-Valor, #column-title-Acciones{
    width: 20%;
  }
  
  #subjectList{
    width: 90%;
    margin-top: 0.5em;
    border-color: #dedede;
    border-style: solid;
    border-left-width: thin;
    border-right-width: thin;
    border-top-width: thin;
    border-bottom-width: thin;
  }
  
  #tbody{
    text-align: center;
    font-size: 0.8em;
    color: black;
  }
  
  #idTFoot{
    text-align: center;
    font-size: 0.8em;
  }
  
  .nav-link{
    color: white;
  }
  
  .nav-link:hover{
    color: white;
  }
  
  #active{
    color: #04325a;
  }
  
  .card{
    margin-left: 1%;
    width: 98%;
    max-height: 1%;
  }
  
  #card-header-principal-title{
    text-align: center;
    font-weight: bold;
    background-color: #045b82;
    color: white;
    font-size: 1.2em;
  }
  
  #card-header-exercise-1, #card-header-exercise-2{
    text-align: center;
    font-weight: bold;
    color: #04325a;
    font-size: 1.1em;
  }
  
  #botonAgregar{
    margin-top: 2.2em;
    margin-bottom: -10.5em;
    margin-left: 18em;
    width: 21em;
    height: 2.5em;
  }
  
  #botonEnviar{
    width: 21em;
    height: 2.5em;
  }